aside {
  width: 40%;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  float: right;
  box-shadow: inset 5px 0 5px -2px #37378f;
  font-style: italic;
  color: #37378f;
}

aside > p {
  margin: 0.5rem;
}

p {
  font-family: 'Fira San', sans-serif;
}
